<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reference</title>
  <meta name="description" content="Learning AngularJS basics">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 
      Import this script in order to make it available in the app.
  -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>

<!--
    The ng-app defines the name of the app
    The ng-controller names the the controller for this app
    The <div> tag owns the app named petApp
-->
<div ng-app="petApp" ng-controller="petController">

  <h1>List of Pets</h1>

  <label for="rowContains">Find: </label>
  <!--
    ng-model will associate the value of this HTML input field to application data.
  -->
  <input type="text" name="rowContains" ng-model="rowContains" />
  <hr />

  <table border="1" width="100%">
    <tr>
        <!--
            ng-click will execute the defined function when you click on 
            the heading in the html table.
        -->
        <th ng-click="orderByThis('name')">Name</th>
        <th ng-click="orderByThis('breed')">Breed</th>
        <!-- TODO: Complete the Status column directive -->
        <th ng-click="orderByThis('status')">Status</th>
    </tr>

    <!--
        ng-repeat will read the list called pets and draw an  HTML table row for each item in the list.
        Output code is piped to two filters.
        filter: is used to limit the rows that are displayed using the text that is found in the rowContains input.
        orderBy: is calling the thisOrder function that is defined in the petController.
    -->
    <tr ng-repeat="x in pets | filter:rowContains | orderBy:thisOrder">
        <!--
            Pipe expression text to a filter to fortmat the value of the cell.
        -->
        <td>{{x.name | uppercase}}</td>
        <td>{{x.breed | lowercase}}</td>
        <!-- TODO: Complete the cell for status -->
        <td>{{ x.status | lowercase}}</td>
    </tr>
  </table>
  
</div>

<script>
    // angular.module defines the app by binding the value of ng-app in a particular HTML element.
    // angular.controller defines the controller name found in the ng-controller 
    // value of a particular HTML element.
    // controllers always belong to a module.
    angular.module("petApp", []).controller("petController", function($scope) {
        $scope.pets = [
            {name: 'Spot', breed: 'Rat Terrier', status: 'trained'},
            {name: 'Miss Kitty', breed: 'Tabby', status: 'trained'},
            {name: 'Fido', breed: 'English Bulldog', status: 'trained'},
            {name: 'Belle', breed: 'Dachshund', status: 'trained'},
            {name: 'Lovey', breed: 'Persian', status: 'in progress'},
            {name: 'Charles', breed: 'Poodle', status: 'in progress'}
        ];
        $scope.orderByThis = function(x) {
            $scope.thisOrder = x;
        }
    });

</script>

</body>
</html>
